<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-
T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-
C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div th:replace="~{components/sidebar::sidebar}"></div>
        </div>
        <div class="col-8">
            <br>
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/post/update">
                        <input type="hidden" name="postId" th:value="${post.getId()}">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" name="title" class="form-control" id="title" th:value="${post.getTitle()}">
                        </div>
                        <div class="mb-3">
                            <label for="summary" class="form-label">Summary</label>
                            <input type="text" name="summary" class="form-control" id="summary" th:value="${post.getSummary()}">
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">Content</label>
                            <textarea name="content" class="form-control" id="content" rows="3" th:text="${post.getContent()}"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </div>
</body>
</html>